<% layout("layouts/boilerplate") %>
<body>
    <br>
    <div class="row">
        <div class="col-8 offset-2">
    <h3>Change Properties</h3>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input name="listing[title]" type="text" value="<%=listing.title%>" class="form-control"required >
            <div class="valid-feedback">Good title!</div>
        </div>
        <div class="mb-3">
            <label for="discription" class="form-label">Description:</label>
            <textarea name="listing[description]" class="form-control"required><%=listing.description%></textarea>
            <div class="invalid-feedback">Please enter a short desciption</div>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category:</label>
            <select name="listing[category]" id="category" class="form-control" required>
                <option value="" disabled selected>Select a category</option>
                <option value="Trending">Trending</option>
                <option value="Rooms">Rooms</option>
                <option value="Iconic Cities">Iconic Cities</option>
                <option value="Castle">Castle</option>
                <option value="Amazing Pools">Amazing Pools</option>
                <option value="Camping">Camping</option>
                <option value="Farms">Farms</option>
                <option value="Arctic">Arctic</option>
                <option value="Mountains">Mountains</option>
                <option value="Domes">Domes</option>
                <option value="Boats">Boats</option>
            </select>
            <div class="invalid-feedback">Please select a valid category.</div>
        </div>

        <div class="mb-3">
            Original listing image: <br>
            <img style="width: 300px; height: 200px;" src="<%= originalImageUrl %>" alt="originalImage">
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Upload New Image:</label>
            <input name="listing[image]" type="file" class="form-control">
        </div>
        <div class="row">
            <div class="mb-3 col-4">
                <label for="price" class="form-label">Price:</label>
                <input name="listing[price]" type="number" class="form-control" value="<%=listing.price%>" required>
                <div class="invalid-feedback">Price should be valid!</div>
            </div>
            <div class="mb-3 col-8">
                <label for="country" class="form-label">Country:</label>
                <input name="listing[country]" type="text" class="form-control" value="<%=listing.country%>" required>
                <div class="invalid-feedback">enter a valid Country!</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location:</label> 
            <input name="listing[location]" type="text" class="form-control" value="<%=listing.location%>" required>
            <div class="invalid-feedback">Location should be valid!</div>
        </div>
        <button class="btn btn-dark edit-btn"> Save Changes.</button>
    </form>
</div>
</div>

    
</body>
</html>